{% extends layout %}

{% block settings_form %}
    <form method="post" id="settings-form" {{ form_enctype(settings_form) }}>
        {{ form_widget(settings_form) }}

        <input type="submit" value="Save" />
    </form>
{% endblock %}
