includes:
    - phpstan-baseline.neon

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - .
    excludePaths:
        - tmp-phpqa
        - vendor
        - Tests
