parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$settings of method Dmishh\\\\SettingsBundle\\\\Manager\\\\SettingsManagerInterface\\:\\:setMany\\(\\) expects array\\<string, mixed\\>, mixed given\\.$#"
			count: 1
			path: Controller/SettingsController.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: DependencyInjection/Configuration.php

		-
			message: "#^Method Dmishh\\\\SettingsBundle\\\\DependencyInjection\\\\DmishhSettingsExtension\\:\\:load\\(\\) has parameter \\$configs with no value type specified in iterable type array\\.$#"
			count: 1
			path: DependencyInjection/DmishhSettingsExtension.php

		-
			message: "#^Property Dmishh\\\\SettingsBundle\\\\Entity\\\\Setting\\:\\:\\$id is never written, only read\\.$#"
			count: 1
			path: Entity/Setting.php

		-
			message: "#^Method Dmishh\\\\SettingsBundle\\\\Entity\\\\SettingsOwnerInterface\\:\\:getSettingIdentifier\\(\\) has no return type specified\\.$#"
			count: 1
			path: Entity/SettingsOwnerInterface.php

		-
			message: "#^Method Dmishh\\\\SettingsBundle\\\\Form\\\\Type\\\\SettingsType\\:\\:__construct\\(\\) has parameter \\$settingsConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: Form/Type/SettingsType.php

		-
			message: "#^Parameter \\#2 \\$array of function array_key_exists expects array, mixed given\\.$#"
			count: 1
			path: Form/Type/SettingsType.php

		-
			message: "#^Parameter \\#2 \\$haystack of function in_array expects array, mixed given\\.$#"
			count: 1
			path: Form/Type/SettingsType.php

		-
			message: "#^Property Dmishh\\\\SettingsBundle\\\\Form\\\\Type\\\\SettingsType\\:\\:\\$settingsConfiguration type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Form/Type/SettingsType.php

		-
			message: "#^Method Dmishh\\\\SettingsBundle\\\\Manager\\\\CachedSettingsManager\\:\\:all\\(\\) should return array\\<string, mixed\\> but returns mixed\\.$#"
			count: 1
			path: Manager/CachedSettingsManager.php

		-
			message: "#^Method Dmishh\\\\SettingsBundle\\\\Manager\\\\SettingsManager\\:\\:__construct\\(\\) has parameter \\$settingsConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: Manager/SettingsManager.php

		-
			message: "#^Method Dmishh\\\\SettingsBundle\\\\Manager\\\\SettingsManager\\:\\:all\\(\\) should return array\\<string, mixed\\> but returns array\\<string, mixed\\>\\|null\\.$#"
			count: 1
			path: Manager/SettingsManager.php

		-
			message: "#^Offset mixed does not exist on array\\<string, array\\<string, mixed\\>\\>\\|null\\.$#"
			count: 1
			path: Manager/SettingsManager.php

		-
			message: "#^Parameter \\#1 \\$key of function array_key_exists expects int\\|string, string\\|null given\\.$#"
			count: 1
			path: Manager/SettingsManager.php

		-
			message: "#^Parameter \\#1 \\$serialized of method Dmishh\\\\SettingsBundle\\\\Serializer\\\\SerializerInterface\\:\\:unserialize\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: Manager/SettingsManager.php

		-
			message: "#^Property Dmishh\\\\SettingsBundle\\\\Manager\\\\SettingsManager\\:\\:\\$ownerSettings \\(array\\<string, array\\<string, mixed\\>\\>\\|null\\) does not accept array\\<int\\|string, array\\<string, mixed\\>\\>\\.$#"
			count: 2
			path: Manager/SettingsManager.php
