includes:
    - phpstan-baseline.neon

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    paths:
        - .
    excludePaths:
        - tmp-phpqa
        - vendor
        - Tests
        - .github
